html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("fpeclassroom.jpg");
  background-size: cover;     
  background-position: center bottom;
  background-repeat: no-repeat;

  min-width: 1024px;
  min-height: 576px;

  overflow-x: auto;
  overflow-y: hidden;
}


.half-border-box  {
    width: 80%;
    max-width: 1200px;

    background-image: url("fpetextbox.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 90px;

    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    padding: 20px 40px;   
    box-sizing: border-box;
    user-select: none;     
    -webkit-user-select: none;
    -ms-user-select: none;
}
