html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Kunci tampilan seperti PC */
body {
  min-width: 1024px;
  min-height: 600px;

  background-image: url("fpeclassroom.jpg"); 
  background-size: contain;   /* PENTING: jangan cover */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: black;

  display: block;
}
